
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Popins, sans-serif;
    scroll-behavior: smooth;
  }
  
  header {
    /* border: 2px solid black; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    /* border:2px solid black; */
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;

    background: #0e0422;
   
  }
  
  header .logo1 {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* border: 2px solid blueviolet; */
    /* box-shadow: */
  }
  
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    list-style: none;
    margin-left: 20px;
  }
  header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
  }
  
  header ul li a:hover,
  header ul li a.active {
    background: #fff;
    color: #2b1055;
  }
  
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
  }
  section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  section img#moon {
    mix-blend-mode: screen;
  }
  section img#mountains_front {
    z-index: 10;
  }
  
  #text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -350px;
  }
  #btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
  }
  
  .sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
    /* pointer-events: none; */
  }
  
  .sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    /* z-index: 9; */
  }
  .sec p {
    font-size: 1em;
    /* margin-bottom:10px; */
    color: #fff;
  }
  .card-container {
    display: flex;
  }
  .secondhead {
    text-align: center;
  }
  /* .hr-white { 
    background-image: url(/wp-content/uploads/2016/11/hr-white.png);
  }  */
  .mobile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .card {
    width: 300px;
    height: 300px;
  
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
  }
  
  .card2 {
    width: 400px;
    height: 200px;
  
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
  }
  .imgp {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .card:hover {
    animation: glow 0.5s infinite alternate;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .subheader {
    text-align: center;
  }
  .card {
    margin-right: 10px; /* Adjust the space as needed */
  }
  
  .card:last-child {
    margin-right: 0; /* Remove margin for the last card in the row */
  }
  .card {
    padding-right: 10px; /* Adjust the space as needed */
  }
  
  .card:last-child {
    padding-right: 0; /* Remove padding for the last card in the row */
  }
  footer .subheader,
  section .subheader {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    max-width: 660px;
    padding: 0 15px;
    margin: 19px auto 103px;
  }
  @keyframes glow {
    from {
      box-shadow: 0 0 5px 0 #f0eff7;
    }
    to {
      box-shadow: 0 0 5px 4px #f0eff7, 0 0 10px 9px #f0eff7, 0 0 19px 14px #f0eff7;
    }
  }
  .card-htext {
    font-family: Arial, Helvetica, sans-serif;
    text-size-adjust: 12px;
  }
  .fheading {
    text-align: center;
  }
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }
  
  .frnd {
    width: 100px;
    height: 100px;
  }
  .card-ptext {
    color: #1e0942;
  }
  
  .card:hover {
    transform: scale(1);
  }
  .card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .card-container {
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 300px;
  }
  
  .card {
      width: 300px;
      height: 300px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
  }
  
  button #prev, #next {
      margin: 10px;
  }
  /*for feature*/
  section.bg-white h2,
  section.bg-grey h2 {
    color: #303030;
  }
  
  .sec-features h2 {
    margin-top: 13px;
  }
  .over-sec {
    text-align: center !important;
  }
  
  /* card css*/
  .body {
    width: 100vw;
    background-color: #0e0422;
    margin: 0;
    font-family: helvetica;
  }
  
  
  
  .contentf {
    max-width: 1024px;
    width: 100%;
    padding: 0 2%;
    padding-top: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 767px) {
    .content {
       padding-top: 300px;
       flex-direction: column;
    }
  }
  
  .cardf {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    height: 500px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .iconf {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width:80px;
    background: linear-gradient(90deg,  rgb(193, 126, 255) 0%, rgb(66, 12, 110) 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
  }
  
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  
  .cardf .titlef {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .cardf .textf {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    transition: all 0.3s ease;
  }
  
  .cardf:hover {
    height: 300px;
  }
  
  .cardf:hover .info {
    height: 90%;
  }
  
  .cardf:hover .textf {
    transition: all 0.3s ease;
    opacity: 1;
    max-height:40px;
  }
  
  .cardf:hover .iconf {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
  .cardf:hover .iconf i {
    background: linear-gradient(90deg, rgb(193, 126, 255), rgb(66, 12, 110));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .fheading {
   font-size:100px;
   text-align:center;
   color:whitesmoke;
  
  }
  .fheading:before{
   content:"text";
   position:absolute;
   color:#262626;
   top:0;
   left:0;
   width:0%;
   overflow:hidden;
   transition:all 0.5s;
  }
  .fheading:hover:before{
   width:100%;
  }
  .imgmo{
   border-radius: 50px;
   width: 85%; 
   height: auto; 
  
  }
  .imgff{
   
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh; 
  }
  /* button css*/
  @import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 0.6em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

