<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name_about="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\about.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Our-Team</title>
    <link rel="stylesheet" href="">
</head>

<body>
    
    <div class="container_about">
     
        <br>
    <br>
    <br>
        <div class="header_about">
            
            <br>
            <h1 class="about_heading reveal-text" id="title_a">MONGO-D-JANGO</h1>
            <h2 class="about_heading">OUR TEAM</h2>
            <h2 class="about_heading">Know About Us </h2>
            <br>
            <br>

        </div>
        <div class="sub-container_about">
            
            <div class="about_cards">
                <img class="img_about" src="images\gaurav.jpg" alt="">
                <div class="name_about">Gaurav Sharma</div>
                <div class="desig">Developer</div>
                <div class="about">Mobile no. : +91 9015641601<br>
                    Email : </div>
              

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>

            <div class="about_cards">
                <img class="img_about" src="images\snehav2.jpeg" alt="">
                <div class="name_about">Sneha Verma</div>
                <div class="desig">Developer</div>
                <div class="about">Mobile no. : +91 9425038129<br>
                    Email : snehaverma0201@gmail.com </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="about_cards">
                <img class="img_about" src="images\kaushiki.jpeg" alt="">
                <div class="name_about">Kaushiki Gautam</div>
                <div class="desig">Developer</div>
                <div class="about">Mobile no. : +91 7426901513<br>
                    Email : </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>