<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
  <link rel="stylesheet" href="\css\contact.css">
  </head>
  <body>
   
    <section class="contact">
       
    <div class="container_contact">
       
      <span class="big-circle"></span>
      <div class="form_contact">
        
        <div class="contact-info_c">
          <h3 class="title_c">For any doubts contact here!</h3>
          <p class="text_c">
            Welcome to Your Expense Tracker! We're here to assist you with any questions or concerns you may have. Feel free to reach out to us using the form below, and we'll get back to you as soon as possible.
          </p>

          <div class="info_c">
            <div class=" information_c">
              <img src="img/location.png" class="icon_contact" alt="" />
              <p></p>
            </div>
            <div class=" information_c">
              <img src="img/email.png" class="icon_contact" alt="" />
              <p>Email: snehaverma0201@gmail.com</p>
            </div>
            <div class=" information_c">
              <img src="img/phone.png" class="icon_contact" alt="" />
              <p>Mobile no. - 9425038129</p>
            </div>
          </div>

          
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form class="form_c" action="index.html" autocomplete="off">
            <h3 class="title_c">Contact us</h3>
            <div class="inputc-container">
              <input type="text" name="name" class="inputc" />
              <label for="">Username</label>
              <span>Username</span>
            </div>
            <div class="inputc-container">
              <input type="email" name="email" class="inputc" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="inputc-container">
              <input type="tel" name="phone" class="inputc" />
              <label for="">Phone</label>
              <span>Phone</span>
            </div>
            <div class="inputc-container textarea">
              <textarea name="message" class="inputc"></textarea>
              <label for="">Message</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="btn-c" />
          </form>
        </div>
      </div>
    </div>
</section>
    <script>
        const inputcs = document.querySelectorAll(".inputc");

function focusFunc() {
  let parent = this.parentNode;
  parent.classList.add("focus");
}

function blurFunc() {
  let parent = this.parentNode;
  if (this.value == "") {
    parent.classList.remove("focus");
  }
}

inputcs.forEach((inputc) => {
  inputc.addEventListener("focus", focusFunc);
  inputc.addEventListener("blur", blurFunc);
});
    </script>
    <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
  ></script>
  </body>
</html>