<%- include('partials/header') %>
<div class="container2">
    <aside>
            <div class="top">
                <div class="logo">
                    <img class="imgs" src="images\budget.png">
                    <h2 class="text-muted">MONGO <span class="headcolor">D-JANGO</span></h2>
                </div>
              
                    <div class="close" id="close-btn">
                            <span class="material-icons-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar">
                    <form method="get" action="/register">
                        <span class="material-icons-sharp">grid_view</span>
                        <h3>Dashboard</h3>
                </form>
                    
                    <form method="get" action="/transactions">
                        
                        <span class="material-icons-sharp">receipt_long</span>
                        <h3>Reoccuring Bills & Transactions</h3>
                   
                    </form>
                    
                <div class="active">
                        <span class="material-icons-sharp">insights</span>
                        <h3>Analytics</h3>
                    </div>
                    <form method="get" action="/login">
              
                        <span class="material-icons-sharp"></span>
                        <h3>Logout</h3>
                      </form>
                      </div>
                
        </aside>
</div>




<%- include('partials/footer') %>