<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="css\swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
   </head>
   <body>
    <header>
    <a href="#sec" class="logo1">Mango-D-JAngo</a>
    <ul>
      <li><button class='glowing-btn'><span class='glowing-txt'>Home</span></button></li>
      <form method="get" action="/login">
        <li><button class='glowing-btn'><span class='glowing-txt'>Login</span></button></li>
      </form>
      <form method="get" action="/login">
      <li><button class='glowing-btn'><span class='glowing-txt'>About</span></button></li>
    </form>
    <form method="get" action="/login">
      <li><button class='glowing-btn'><span class='glowing-txt'>Contact Us</span></button></li>
    </form>
    </ul>
    </header>

  <section class="bgfirstpage">
    <img src="images/stars.png" id="stars" />
    <img src="images/moon.png" id="moon" />
    <img src="images/mountains_behind.png" id="mountains_behind" />
    <h2 id="text">Expense Tracker</h2>
    <a href="#sec" ><button class='glowing-btn'><span class='glowing-txt'>Explore</span></button></a>
    <img src="images/sideM.png" id="mountains_front" />
  </section> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="body bgfirstpage" id="sec">
            <br>
            <br>
            <br>
            <h2 class="fheading">Grow Financially</h2>
            <div class="contentf">
           
               <div class="cardf">
                  
                     <div class="iconf"><span class="material-icons-sharp">paid</span></div>
                     <p class="titlef">TRACK EXPENSES</p>
                     <p class="textf">Keeping a daily record of expenses provides a detailed snapshot of your spending habits.</p>
                  
               </div>
               
               <div class="cardf">
                  
                     <div class="iconf"><span class="material-icons-sharp">receipt_long</span></div>
                     <p class="titlef">RECURRING BILLS AND TRANSACTIONS</p>
                     <p class="textf">Keeping a watchful eye on recurring bills and transactions is paramount.</p>
                  
               </div>
              
               <div class="cardf">
                  
                     <div class="iconf"><span class="material-icons-sharp">group</span></div>
                     <p class="titlef">ADD FRIENDS AND FAMILY</p>
                     <p class="textf">Promotes expense tracking & coordinate spending decisions with their trusted friends or family members
                        </p>
                  
               </div>
                 <div class="cardf">
                  
                     <div class="iconf"><span class="material-icons-sharp">insights</span></div>
                     <p class="titlef">VISUALIZE THROUGH GRAPHS</p>
                     <p class="textf">Enrich the expense tracking experience by incorporating visually appealing graphs and charts.</p>
                  
               </div>
         
            
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
         </div>
         <h2 class="fheading bgfirstpage">Explore Features </h2>
         <div class="imgff bgfirstpage" >
                <img src="images\mobilep.png" class="imgmo">
         </div>
         <br>
         <br>
         <br>
         <br>
         <br>
         <script>
          
    let stars = document.getElementById("stars");
    let moon = document.getElementById("moon");
    let mountains_behind = document.getElementById("mountains_behind");
    let text = document.getElementById("text");
    let btn = document.getElementById("btn");
    let mountains_front = document.getElementById("mountains_front");
    let header = document.querySelector("h1");

    window.addEventListener("scroll", function () {
      let value = window.scrollY;
      stars.style.left = value * 0.25 + "px";
      moon.style.top = value * 1.15 + "px";
      mountains_behind.style.top = value * 0.5 + "px";
      mountains_front.style.top = value * 0 + "px";
      text.style.marginRight = value * 3.15 + "px";
      text.style.marginTop = value * 1.5 + "px";
      btn.style.marginTop = value * 1.5 + "px";
      header.style.top = value * 0.5 + "px";
    });
         </script>
        </body>
</html>
