<%- include('partials/header') %>

<header>

    <a href="#sec" class="logo1">Mango-D-JAngo</a>
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <form method="get" action="/login">
        <li><button>Login</button></li>
      </form>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    
</header>

  <section>
    <img src="images/stars.png" id="stars" />
    <img src="images/moon.png" id="moon" />
    <img src="images/mountains_behind.png" id="mountains_behind" />
    <h2 id="text">Expense Tracker</h2>
    <a href="#sec" id="btn">Explore</a>
    <img src="images/sideM.png" id="mountains_front" />
  </section> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="body">
            <br>
            <br>
            <br>
            <h2 class="fheading">Grow Financially</h2>
            <div class="contentf">
           
               <div class="cardf">
                  
                     <div class="iconf"><span class="material-icons-sharp">paid</span></div>
                     <p class="titlef">TRACK EXPENSES</p>
                     <p class="textf">Keeping a daily record of expenses provides a detailed snapshot of your spending habits.</p>
                  
               </div>
               
               <div class="cardf">
                  
                     <div class="iconf"><span class="material-icons-sharp">receipt_long</span></div>
                     <p class="titlef">RECURRING BILLS AND TRANSACTIONS</p>
                     <p class="textf">Keeping a watchful eye on recurring bills and transactions is paramount.</p>
                  
               </div>
              
               <div class="cardf">
                  
                     <div class="iconf"><span class="material-icons-sharp">group</span></div>
                     <p class="titlef">ADD FRIENDS AND FAMILY</p>
                     <p class="textf">Promotes expense tracking & coordinate spending decisions with their trusted friends or family members
                        </p>
                  
               </div>
                 <div class="cardf">
                  
                     <div class="iconf"><span class="material-icons-sharp">insights</span></div>
                     <p class="titlef">VISUALIZE THROUGH GRAPHS</p>
                     <p class="textf">Enrich the expense tracking experience by incorporating visually appealing graphs and charts.</p>
                  
               </div>
         
            
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
         </div>
         <h2 class="fheading">Explore Features </h2>
         <div class=imgff>
                <img src="images\mobilep.png" class="imgmo">
         </div>
         <br>
         <br>
         <br>
         <br>
         <br>

<%- include('partials/footer') %>