<%- include('partials/header') %>


 <section class="container forms">
    <img class="imgbg" src="C:\WEBSTER\NEW\expense-tracker\images\2086.jpg" />
    <div class="form login">
      <div class="form-content">
        <header>Login</header>
        <form action="#">
          <div class="field input-field">
            <input type="email" placeholder="Email" class="input" />
          </div>

          <div class="field input-field">
            <input type="password" placeholder="Password" class="password" />
            <i class="bx bx-hide eye-icon"></i>
          </div>

          <div class="form-link">
            <a href="#" class="forgot-pass">Forgot password?</a>
          </div>

          <div class="field button-field">
            <button>Login</button>
          </div>
        </form>

        <div class="form-link">
          <span
            >Don't have an account?
            <form method="get" action="/register">
                <li><button>SIGNUP</button></li>
              </form>
            <!-- <a href="register.ejs" class="link signup-link">Signup</a></span
          > -->
        </div>
      </div>

      <div class="line"></div>

      <div class="media-options">
        <a href="#" class="field facebook">
          <i class="bx bxl-facebook facebook-icon"></i>
          <span>Login with Facebook</span>
        </a>
      </div>

      <div class="media-options">
        <a href="#" class="field google">
          <i class="bx bxl-google google-icon"></i>
          <span>Login with Google</span>
        </a>
      </div>
    </div>
</section> 

<!-- <section>
    <div class="form-box">
        <div class="form-value">
            <form action="/login" method="POST">
                <h2>Login</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="username" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                </div>
                <button type="submit">Log in</button>
                <div class="register">
                    <p>Don't have a account <a href="/register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
  </section>
   -->

<%- include('partials/footer') %>