<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker - Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="\css\login.css" />

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="container forms">
    <img class="imgbg" src="images\2086.jpg" />
    <div class="form login">
      <div class="form-content">
        <header>Login</header>
        <form action="/login" method="POST">
          <div class="field input-field">
            <input type="email" placeholder="Email" class="input"  name="email"/>
          </div>

          <div class="field input-field">
            <input type="password" placeholder="Password" class="password" name="password"/>
            <i class="bx bx-hide eye-icon"></i>
          </div>

          <div class="form-link">
            <a href="#" class="forgot-pass">Forgot password?</a>
          </div>

          <div class="field button-field">
            <!-- <form method="get" action="/secrets"> -->
            <button>Login</button>
          <!-- </form> -->
          </div>
        </form>

        <div class="form-link">
          <span
            >Don't have an account?
            <form method="get" action="/register">
                <li><button>SIGNUP</button></li>
              </form>
            <!-- <a href="register.ejs" class="link signup-link">Signup</a></span
          > -->
        </div>
      </div>

      

      

      
</section> 
</body>
</html>
<!-- <section>
    <div class="form-box">
        <div class="form-value">
            <form action="/login" method="POST">
                <h2>Login</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="username" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                </div>
                <button type="submit">Log in</button>
                <div class="register">
                    <p>Don't have a account <a href="/register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
  </section>
   -->
