<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker - Login</title>
    <link rel="stylesheet" href="css/login.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="container forms">
      <img class="imgbg" src="images/2086.jpg" />
      <div class="form login">
        <div class="form-content">
          <header>Signup</header>
          <form action="/register" method="POST">

            <div class="field input-field">
              <input type="text" placeholder="Name" class="input" name="name" />
            </div>
            <div class="field input-field">
              <input type="email" placeholder="Email" class="input" name="email" />
            </div>

            <div class="field input-field">
              <input
                type="password"
                placeholder="Create password"
                class="password"
                name="password"
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <div class="field input-field">
              <input
                type="password"
                placeholder="Confirm password"
                class="password"
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <div class="field input-field">
              <input
                type="number"
                placeholder="Age"
                class="age"
                name="age"
              />
            </div>

            <div class="field input-field">
              <input
                type="number"
                placeholder="Phone no."
                class="password"
                name="phno"
              />
            </div>

            <div class="field button-field">
              <button type="submit" class="button">Register</button>
            </div>
            </form>
          </div>
        </div>
</div>
</section>
</body>
</html>