<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker Dashboard</title>
    <link rel="stylesheet" href="\css\dashboard.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"> 
 
</head>
<body>
<div class="container2">
  <aside>
          <div class="top">
              <div class="logo">
                  <img class="imgs" src="images\budget.png">
                  <h2 class="text-muted">MONGO <span class="headcolor">D-JANGO</span></h2>
              </div>
            
                  <div class="close" id="close-btn">
                          <span class="material-icons-sharp">close</span>
                  </div>
              </div>
              <div class="sidebar">
                  <div class="active">
                      <span class="material-icons-sharp">grid_view</span>
                      <h3>Dashboard</h3>
                  </div>
                  <form method="get" action="/transactions">
                    
                      <span class="material-icons-sharp">receipt_long</span>
                      <h3>Reoccuring Bills & Transactions</h3>
                  
                  </form>
                  <form method="get" action="/graph">
              
                      <span class="material-icons-sharp">insights</span>
                      <h3>Analytics</h3>
                    </form>
                  <form method="get" action="/login">
            
                      <span class="material-icons-sharp"></span>
                      <h3>Logout</h3>
                    </form>
                
              </div>
      </aside>
      <main>
          <h1>Dashboard</h1>
          <form action="/secrets" method=""POST>
            <div class="insights">
                <div class="sales" id="box-sizec">
                     <span class="material-icons-sharp">analytics</span>
                        <div class="middle">
                            <div class="left"></div>
                            <div class="input-section">
                                <h2>Category:</h2>
                                <label for="category-select" ></label>
                                <select id="category-select">
                                    <option value="Food">Food & Beverage</option>
                                    <option value="Rent">Rent</option>
                                    <option value="Transport">Transport</option>
                                    <option value="Shopping">Shopping</option>
                                    <option value="Bills">Bills</option>
                                    <option value="Miscellaneous">Miscellaneous</option>
                                </select>
                                <h2>Amount:</h2>
                                <label class="buttoncss" for="amount-input"></label>
                                <input type="number" id="amount-input">
                                <h2>Date:</h2>>
                                <label class="buttoncss" for="date-input"></label>
                                <input type="date" id="date-input">
                                <div class="friendsicon">
                                <button class="add-btn" type="submit">Add</button>
                                </div></form>
                            
                            </div>
       
                            <br>
                        </div>
                </div>
                <!--SPLIT FUNCTION-->

                <div class="cards" id="addfriends">
                    <div class="friendsicon">
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                         <lord-icon
                        src="https://cdn.lordicon.com/hojnqwxj.json"
                        trigger="hover"
                        style="width:100px;height:100px">
                         </lord-icon>
                    </div>
                    <br>
                    <h2>Click to split money among friends</h2>
                    <br>
                    <br>
                    <div class="friendsicon">
                        <form method="POST" action="/split">
                        <button>SPLIT</button>
                    </form>
                    </div>
                </div>
                </div>

                <!--TABLE EXPENSE-->
                <div class="recent-expenses">
                
                    <h2>Expenses List</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="expnese-table-body">
            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total:</td>
                                <td id="total-amount"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
          
        </form>
      </main>




      <!--right side of dashboard-->
      <div class="right">
          <div class="top">
              <button id="menu-btn">
                      <span class="material-icons-sharp">menu</span>
              </button>
              <div class="theme-toggler">
                  <span class="material-icons-sharp active">light_mode</span>
                  <span class="material-icons-sharp">dark_mode</span>
              </div>
              <div class="profile">
                  <div class="info">
                      <p>Hey,User</p>
                      <small class="text-muted">Admin</small>

                  </div>
                  <div class="profile-photo">
                      
                      </lord-icon>
                  </div>
              </div>
          </div>
          <br>
          <br>
          
          <!--Right upper box-->

          <div class="recent-updates">
            
                
      <div class="cards">
          <div class="sales-analytics">
              <h2>Categories(Expense)</h2>
              <br>
              <br>
              <div class="items">
                  <div class="icon">
                      <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                      <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                      <lord-icon
                          src="https://cdn.lordicon.com/cosvjkbu.json"
                          trigger="hover"
                          style="width:40px;height:40px">
                      </lord-icon>


                  </div>
                  <div class="right">
                      <div class="info">
                          <h3>Shopping</h3>
                          </div>
                              <div class="money">
                                      <h3>$</h3>
                              </div>
                        
                      </div>
                  </div>
                      <div class="items">
                          <div class="icon">
                              <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
<lord-icon
src="https://cdn.lordicon.com/sxuilwjb.json"
trigger="hover"
style="width:40px;height:40px">
</lord-icon>
                          </div>
                          <div class="right">
                              <div class="info">
                                  <h3>Rent</h3>
                                  </div>
                                      <div class="money">
                                              <h3>$</h3>
                                      </div>
                                
                              </div>
                          </div>
                          <div class="items">
                              <div class="icon">
                                  <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
<lord-icon
src="https://cdn.lordicon.com/kzagefqq.json"
trigger="hover"
colors="primary:#3a3347,secondary:#ffffff,tertiary:#794628,quaternary:#ebe6ef,quinary:#f24c00,senary:#646e78"
style="width:40px;height:40px">
</lord-icon>
                              </div>
                              <div class="right">
                                  <div class="info">
                                      <h3>Transportation</h3>
                                      </div>
                                          <div class="money">
                                                  <h3>$</h3>
                                          </div>
                                    
                                  </div>
                              </div>
                              <div class="items">
                                  <div class="icon">
                                      <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
<lord-icon
src="https://cdn.lordicon.com/yqiuuheo.json"
trigger="hover"
style="width:40px;height:40px">
</lord-icon>
                                  </div>
                                  <div class="right">
                                      <div class="info">
                                          <h3>Bills</h3>
                                          </div>
                                              <div class="money">
                                                      <h3>$</h3>
                                              </div>
                                        
                                      </div>
                                  </div>
                                  <div class="items">
                                      <div class="icon">
                                          <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
<lord-icon
src="https://cdn.lordicon.com/afqjkqgo.json"
trigger="hover"
style="width:40px;height:40px">
</lord-icon>
                                      </div>
                                      <div class="right">
                                          <div class="info">
                                              <h3>Food & Beverages</h3>
                                             
                                              </div>
                                                  <div class="money">
                                                          <h3>$</h3>
                                                  </div>
                                            
                                          </div>
                                      </div>
                                      <div class="items">
                                          <div class="icon">
                                              <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
<lord-icon
src="https://cdn.lordicon.com/qnwzeeae.json"
trigger="hover"
style="width:40px;height:40px">
</lord-icon>
                                          </div>
                                          <div class="right">
                                              <div class="info">
                                                  <h3>Miscellaneous</h3>
                                                  </div>
                                                      <div class="money">
                                                              <h3>$</h3>
                                                      </div>
                                                
                                              </div>
                                          </div>
              </div>
          </div>
      </div>
</div>
<div>
    
</div>
</body>
</html>



